input {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: orange;
    color: white;
  }
h1 {
  background-color:purple;
  color: white
}
form {
  margin-top: 3%;
  background-color: #ddd;
}
p {
  font-size: 18;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}
.background-element {
  position:top;
}

.background-element img {
  display: block;
  width: 100%;
  height: auto;
}

.background-element .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: #ffffff;
  text-align: center;
}

.background-element .content h1 {
  font-size: 24px;
  font-weight: bold;
}

.background-element .content p {
  font-size: 16px;
  color: white;
  background-color: orange;
}